.intro {
  min-height: 800px;
  height: 100vh;
  background-image: url("../../images/desktop/image-hero.jpg");
  background-size: cover;
}

.intro__wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.intro__wrapper .intro__header {
  padding-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__wrapper .intro__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__wrapper .intro__navigation p {
  margin: 0 1.5em;
  color: white;
  cursor: pointer;
  position: relative;
}

.intro__wrapper .intro__navigation p::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 0;
  background: white;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.intro__wrapper .intro__navigation p:hover::after {
  opacity: 1;
  width: 100%;
}

.intro__wrapper .intro__section {
  border: 2px solid white;
  margin-top: 13em;
  max-width: 550px;
  padding: 1em 2em;
}

.intro__wrapper .intro__section h1 {
  font-family: "Alata";
  font-size: 4rem;
  color: white;
  line-height: 5rem;
  letter-spacing: 0.5rem;
}

.feature {
  min-height: 800px;
  height: 100vh;
  position: relative;
}

.feature__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.feature__wrapper--text {
  position: absolute;
  top: 40%;
  right: 0;
  max-width: 540px;
  background: white;
  padding: 6em 0.4em 6em 6em;
}

.feature__wrapper--text h1 {
  color: black;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  margin-bottom: 0.5em;
  font-weight: 50;
}

.feature__wrapper--text p {
  color: #8c8c8c;
  line-height: 1.5rem;
}

.creations {
  min-height: 800px;
  height: auto;
  margin-bottom: 12.5em;
  position: relative;
}

.creations__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
}

.creations__wrapper--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.creations__wrapper--header h1 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.creations__wrapper--header button {
  padding: 0.5em 1em;
  background: white;
  border: 2px solid black;
  width: 120px;
  color: black;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.creations__wrapper--header button:hover {
  background: black;
  color: white;
}

.creations__wrapper .creations--grid {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 2rem;
  height: 100%;
}

.creations__wrapper .creations--grid .grid--item {
  position: relative;
  cursor: pointer;
}

.creations__wrapper .creations--grid .grid--item:hover img {
  opacity: 0.5;
}

.creations__wrapper .creations--grid .grid--item:hover h3 {
  color: black;
}

.creations__wrapper .creations--grid .grid--item img {
  height: 100%;
  width: 100%;
}

.creations__wrapper .creations--grid .grid--item h3 {
  color: white;
  position: absolute;
  font-size: 2rem;
  bottom: 0;
  letter-spacing: 0.5rem;
  line-height: 2.2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: linear-gradient(180deg, transparent, black);
  width: 100%;
  padding: 0.5em;
}

.footer {
  background: black;
  color: white;
  padding: 3em 0;
}

.footer__wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.footer__wrapper .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapper .footer__top > div img {
  margin-right: 1em;
  cursor: pointer;
}

.footer__wrapper .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
}

.footer__wrapper .footer__bottom .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__wrapper .footer__bottom .footer__navigation p {
  margin-right: 2em;
  cursor: pointer;
  position: relative;
}

.footer__wrapper .footer__bottom .footer__navigation p::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 0;
  background: white;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.footer__wrapper .footer__bottom .footer__navigation p:hover::after {
  opacity: 1;
  width: 100%;
}

.footer__wrapper .footer__bottom .footer__copyright {
  color: dimgray;
}

@font-face {
  font-family: "Josefin";
  src: url("../fonts/Josefin/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Josefin-Italic";
  src: url("../fonts/Josefin/JosefinSans-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata/Alata-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 15px;
}

body {
  font-family: "Alata", sans-serif;
}
/*# sourceMappingURL=index.css.map */