@import "./partials/variables";
@import "./sections/intro";
@import "./sections/feature";

@font-face {
    font-family: "Josefin";
    src: url("../fonts/Josefin/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Josefin-Italic";
    src: url("../fonts/Josefin/JosefinSans-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Alata";
    src: url("../fonts/Alata/Alata-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 15px;
}

body {
    font-family: "Alata", sans-serif;
}
